.btn-as-link {
    text-decoration: underline;
    cursor: pointer;
}
.btn-as-link:hover {
    text-decoration: none;
}
.cursor-wait {
    cursor: wait;
}
.d-none {
    display: none !important;
}
.full-loader {
    z-index: 199;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: wait;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-top: 100px;
}
.full-loader img {
    position: fixed;
}
.upload-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.upload-images_wrapper {
    width: 159px;
    height: 120px;
    background-color: #282828;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear;
    position: relative;
}
.upload-images_wrapper:hover {
    background-color: #404040;
}
.upload-images_label {
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #ff8d12;
    font-size: 85%;
    padding: 0px 10px;
    color: white;
    font-weight: 500;
}
/* .upload-images_wrapper:not(.clone) {
    border: 2px solid red;
}
.upload-images_wrapper:not(.clone):first-child {
    border: 4px solid gold;
} */
.upload-images_wrapper:not(.clone):first-child .upload-images_label {
    display: block;
}
.upload-images_empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-images_image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.upload-images_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.upload-images_image-overlay {
    cursor: grab;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.326);
}
.upload-images_wrapper:hover .upload-images_image-overlay {
    display: flex;
}
.upload-images_image-overlay button {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    padding: 5px 5px;
}
.upload-images_image-overlay button svg{
    max-height: 100%;
}
/* .upload-images_loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-images_loading img{
    width: 50px;
} */
.upload-documents {
    margin-bottom: 24px;
}
.upload-documents_wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #505050;
    margin-bottom: 5px;
}
.upload-documents_remove {
    color: red;
    cursor: pointer;
}
.profile-remove-filters {
    color: red;
}
