.main-u-section {
    background-color: rgb(32,32,32);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 40px;
}
.top-image {
    width: 100%;
    height:320px;
    overflow: hidden;
    margin-bottom: 10px;
}
.top-image img{
    width: 100%;
    object-fit: cover;
}
.main-info-cotainer {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 40px;
}
.avatar-name-container {
    display: flex;
}
.profile-ava{
    margin-top: -119px;
}
.name-container {
    padding-left: 20px;
}
.main-categs-cotainer {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.bio-container {
    padding: 15px 25px;
}
.bio-header{
    color: white;
    font-size: 120%;
}
.bio-content {
    white-space: pre-line;
}
.bio-content::first-letter{
    color: white;
    font-size: 110%;
}

.user-side-info a{
    color: #ff8d11
}

@media screen and (max-width: 767px) {
    .top-image {
        height: 160px;
    }
    .profile-ava {
        width: 100px;
        height: 100px;
        margin-top: -55px;
    }
    .main-info-cotainer {
        margin-bottom: 75px;
        flex-direction: column;
    }
    .main-categs-cotainer {
        flex-direction: column;
    }
}
