.input-error {
    font-size: 80%;
    color: red;
}
.ids-column {
    width: 30px;
}
.actions-column-2 {
    width: 100px;
}
.custom-file-preview {
    max-width: 200px;
}
.custom-file-input,
.delete-file-input {
    cursor: pointer;
}
.dataTable tbody td img {
    max-width: 80px;
    max-height: 80px;
}
.orange {
    color: #ff8d11;
}
.help-tooltip-icon {
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.help-tooltip-icon svg{
    vertical-align:text-bottom;
}
.help-tooltip-icon svg path {
    transition: all .3s linear;
}
.help-tooltip-icon:hover svg path{
    fill: #fff;
}
.sidebar {
    max-height: 92vh;
}

/* select2 fix */
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    background: none;
    border-color: #6c757d;
    height: 38px;
}
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #80bdff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #6c757d;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}

/* summernote fix */
.note-frame table td {
    border: 1px solid #505050;
}
.note-frame table td {
    padding: 0 5px 0 5px;
}
.note-frame ul {
    padding-left: 14px;
}
.note-frame ol {
    padding-left: 15px;
}

/* swal toast style */
body.swal2-toast-shown .swal2-container {
    width: auto !important;
    max-width: 500px !important;
    min-width: 300px;
}
.post-price-quotation-popup {
    max-width: 90% !important;
    width: 800px;
}
.post-price-quotation-popup textarea {
    height: 12em !important;
}
.swal2-popup.swal2-toast {
    background-color: #343a40 !important;
    border-radius: 8px;
    color: white;
    backdrop-filter: blur(9px);

}
div:where(.swal2-container) div:where(.swal2-timer-progress-bar) {
    background: #ff7800 !important;
}
