.input-error {
    font-size: 80%;
    color: red;
}
.ids-column {
    width: 30px;
}
.actions-column-2 {
    width: 100px;
}
.custom-file-preview {
    max-width: 200px;
}
.custom-file-input,
.delete-file-input {
    cursor: pointer;
}
.dataTable tbody td img {
    max-width: 80px;
    max-height: 80px;
}
