.input-error {
    font-size: 80%;
    color: red;
}
.ids-column {
    width: 30px;
}
.actions-column-2 {
    width: 100px;
}
.custom-file-preview {
    max-width: 200px;
}
.custom-file-input,
.delete-file-input {
    cursor: pointer;
}
.dataTable tbody td img {
    max-width: 80px;
    max-height: 80px;
}
.orange {
    color: #ff8d11;
}
.help-tooltip-icon {
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.help-tooltip-icon svg{
    vertical-align:text-bottom;
}
.help-tooltip-icon svg path {
    transition: all .3s linear;
}
.help-tooltip-icon:hover svg path{
    fill: #fff;
}

/* select2 fix */
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    background: none;
    border-color: #6c757d;
}
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #80bdff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #6c757d;
}
